 <nav class="lotus-nav">
    <ul>
        {% for link in site.nav %}
        {% assign active = nil %}
        {% assign homeClass = nil %}
        {% if page.url == link.url%}
          {% assign active = 'current' %}
        {% endif %}
        {% if link.class == 'home' %}
            {% assign homeClass = 'home ' %}
        {% endif %}
        <li class="{{ homeClass }}{{ active }}">
            <a href="{{ link.url }}" rel="bookmark" title="{{link.text}}">
                <i class="icon iconfont">{{link.code}}</i> <span class="tagname">{{link.text}}</span>
            </a>
            {{ indicator }}
        </li>
        {% endfor %}
    </ul>
</nav>